*.swp
temp/
.springBeans
*.registry
*.registry.lock
.DS_Store
*~
*.log
*.iml
parameter.properties
**/.svn/
.mvn
**/target/
**/.classpath
**/.project
**/.settings/
.idea/
*.pyc
**/venvs/*
.pydevproject
dump.rdb
*.out
swagger-spring.iml
**/*.jar

